# Added by Payload
PAYLOAD_SECRET=d67308afac4371c9fcaa256b
DATABASE_URI=postgres://postgres:<password>@127.0.0.1:5432/payload

# Seeding configuration
SEED_USER_PASSWORD=aiesec1992
SEED_SOPHIE_API_PASSWORD=change-me-in-production